<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>VerifyOTP Form</title>
</head>
<body>
    <div class="container1">
        <form action="/verifyOTP" method="POST" class="login-email">
            <p class="login-text" style="font-size:2rem; font-weight: 800;">Enter OTP</p>
            <!-- <div class="input-group">
                <input type="email" placeholder="Email" name="email" value="<%= locals.checkEmail %>" required>
            </div> -->
            <div class="input-group">
                <input type="text" placeholder="OTP" name="otp" value="" required>
            </div>
                <button name='submit' class="btn">Login</button>
            <!-- <p class="login-register-text">Don't have an Account? <a href="/register">Register Here</a>.</p> -->
        </form>
    </div>
    <% if(locals.msg){ %>
        <script>
            alert("<%= msg %>");
            if (window.location.search.includes('msg=')) {
                const urlWithoutMsg = window.location.origin + window.location.pathname;
                history.replaceState({}, document.title, urlWithoutMsg);
            }
        </script>
    <% } %>
</body>
</html>